<p><strong>This service allows you to upload PDFs or other documents you wish to disseminate to library patrons or the general public.  After uploading the document, you'll be provided a permanent URL suitable for including in catalog records, library research guides, or distributing directly to faculty. </strong></p>
<%= render 'form', content: @content %>

<%= link_to 'Back', contents_path %>
